colorama==0.4.6
exceptiongroup==1.2.2
gmpy2==2.1.5
imagecodecs==2024.6.1
ipykernel==6.29.5
ipympl==0.9.4
jax==0.4.30
jax-cuda12-plugin==0.4.30
line-profiler==4.1.1
munkres==1.1.4
nvidia-cuda-cupti-cu12==12.5.82
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-runtime-cu12==12.5.82
nvidia-cudnn-cu12==9.2.1.18
nvidia-cufft-cu12==11.2.3.61
nvidia-cusolver-cu12==11.6.3.83
nvidia-nccl-cu12==2.22.3
pickleshare==0.7.5
pyqt5==5.15.9
pywavelets==1.6.0
scikit-image==0.24.0
sip==6.7.12
toml==0.10.2
tomli==2.0.1
